*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --primary-clr-600: hsl(231, 32%, 21%);
  --primary-clr-400: hsl(231, 69%, 60%);
  --primary-clr-300: hsl(0, 94%, 66%);
  --primary-clr-200: hsl(231, 69%, 63%);
  
  --neutral-clr-200: hsl(229, 8%, 60%);
  --neutral-clr-700: hsl(229, 31%, 21%);

  --white: #fff;
  --black: #000;

  --ff: 'Rubik', sans-serif;

  --fs-700: clamp(2rem, 4vw, 3rem);
  --fs-600: clamp(1.5rem, 3vw, 2.25rem);
  --fs-500: clamp(1.25rem, 1vw, 1.5rem);
  --fs-400: clamp(1rem, 1.5vw, 1.126rem);
  --fs-300: clamp(.864rem, 4vw, .937rem);
  --fs-200: clamp(.750rem, 2vw, .937rem);

  --fw-semibold: 500;
  --fw-regular: 400;
}

html {
  overflow-x: hidden;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-400);
  margin-top: 2rem;
  overflow-x: hidden;
  position: relative;
}

@media (max-width: 50em) {
  body[data-menu-visible] {
    overflow: hidden;
    height: 100vh;
  }
}

@media (min-width: 50em) {
  body {
    margin-top: 3rem;
  }
}

/* GLOBAL STYLING */
h2 {
  font-size: var(--fs-600);
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--black);
}

p {
  color: var(--neutral-clr-200);
  font-size: var(--fs-400);
}

button{
  cursor: pointer;
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
}

/* HEADER */

header {
  margin-bottom: 3.5rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: var(--fs-300);
}

@media(max-width: 50em){
  .logo-wrapper[data-menu-visible] {
    z-index: 2;
  }
  .logo-wrapper[data-menu-visible] img {
    filter: invert(1) brightness(6) hue-rotate(180deg);
  }
}

.mobile-nav-toggle {
  background: transparent;
  padding: .5em;
  background-image: url("images/icon-hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5em;
  aspect-ratio: 1;
  position: absolute;
  right: 0;
  transform: translateY(50%);
  bottom: 50%;
}

@media (max-width: 50em) {
  .mobile-nav-toggle[data-menu-visible] {
    background-image: url('images/icon-close.svg');
    z-index: 2;
  }
}

.nav-list {
  display: none;
  position: absolute;
  text-transform: uppercase;
}

@media (max-width: 50em) {
  .primary-navigation[data-menu-visible] {
    position: fixed;
    display: block;
    background-color: rgba(37, 42, 70, .9);
    z-index: 1;
    inset: 0;
  }

  .nav-list[data-menu-visible] {
    width: 100%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
    font-size: 1.25rem;
    letter-spacing: 3px;
  }
  
  .nav-list[data-menu-visible] li {
    width: 85%;
    text-align: center;
  }
  
  .nav-list[data-menu-visible] li:first-child {
    border-top: 1px solid hsl(231, 16%, 40%);
  }
  
  .nav-list[data-menu-visible] li:not(:last-child) {
    border-bottom: 1px solid hsl(231, 16%, 40%);
    padding-block: 1.25rem;
  }
  
  .nav-list[data-menu-visible] li:last-child {
    border: 3px solid var(--white);
    border-radius: .25rem;
    padding-block: .5em;
    margin-top: 1.5rem;
  }
  
  .nav-list[data-menu-visible] a {
    font-weight: var(--fw-regular);
    color: var(--white);
  }
}

.header-social-links {
  display: none;
}

@media(max-width: 50em) {
  .header-social-links[data-menu-visible] {
    display: flex;
    right: 50%;
    transform: translateX(50%);
    bottom: 10%;
    gap: 2.5rem;
    position: absolute;
  }
}

@media(min-width: 50em){
  .nav-list{
    display: flex;
    align-items: center;
    gap: clamp(1rem, 4vw, 2.75rem);
    position: static;
  }

  .nav-list__login-button {
    background-color: var(--primary-clr-300);
    padding: .4em 2em;
    border-radius: .25rem;
    border: 3px solid var(--primary-clr-300);
    cursor: pointer;
  }

  .nav-list__login-button > a {
    color: var(--white);
  }

  .nav-list__login-button:hover {
    background-color: var(--white);
  }

  .nav-list__login-button:hover > a {
    color: var(--primary-clr-300);
  }

  .nav-list a {
    letter-spacing: 1px;
  }

  .nav-list a:hover {
    color: var(--primary-clr-300);
  }

  .mobile-nav-toggle {
    display: none;
  }
}

/* MAIN */

/* bookmark section */
@media (min-width: 50em){
  .bookmark-section{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.bookmark-section__background-wrapper {
  position: relative;
}

@media (min-width: 50em) {
  .bookmark-section__background-wrapper > img {
    margin-bottom: auto;
  }
}

.bookmark-section__background-wrapper::after {
  content: "";
  position: absolute;
  right: -8.97%;
  bottom: 0;
  width: 90%;
  height: 70%;
  background: var(--primary-clr-400);
  z-index: -1;
  border-radius: 0 0 0 30%;
}

@media (min-width: 50em) {
  .bookmark-section__background-wrapper {
    transform: translateX(5rem);
  }
  
  .bookmark-section__background-wrapper::after {
    width: 125%;
    right: -50%;
    border-radius: 25rem 0 0 25rem;
  }
}

.bookmark-section__text {
  margin-top: 3rem;
  text-align: center;
}

.bookmark-section__text h1 {
  font-size: var(--fs-700);
  line-height: 1.3;
}

@media (min-width: 50em) {
  .bookmark-section__text h1 {
    line-height: 1.1;
  }
}

.bookmark-section__text p {
  margin-block: 1.25rem 1.75rem;
}

@media (min-width: 50em) {
  .bookmark-section__text {
    text-align: start;
    max-width: 45ch;
  }
}

/* feature and tabs section */

.features {
  max-width: 34rem;
  margin-block: 8rem 2rem;
  text-align: center;
  font-size: .937rem;
  margin-inline: auto;
}

.features p {
  margin-block: .25rem 0;
}

@media (min-width: 50em) {
  .features p {
    margin-block: 1rem 0;
  }
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

@media (min-width: 50em) {
  .tab-panel {
    justify-content: space-around;
    padding-bottom: 5rem;
  }

  .tab-panel.active {
    display: flex;
  }
}

.tab-panel__text {
  margin-block: 3rem;
  text-align: center;
  max-width: 38ch;
}

@media (min-width: 50em) {
  .tab-panel__text {
    text-align: start;
  }
}

.tab-panel__text h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semibold);
  margin-block: .5rem;
}

.tab-panel__text button {
  margin-top: 2rem;
}

.tab-panel__image-wrapper {
  padding-bottom: 1.75rem;
  position: relative;
}

.tab-panel__image-wrapper::after {
  content: "";
  position: absolute;
  left: -8.97%;
  bottom: 0;
  width: min(28rem, 90%);
  height: 80%;
  background: var(--primary-clr-400);
  z-index: -1;
  border-radius: 0 100% 50% 0;
}

@media (min-width: 50em) {
  .tab-panel__image-wrapper {
    padding-bottom: 6rem;
  }

  .tab-panel__image-wrapper::after {
    width: 180%;
    left: -100%;
    border-radius: 0 25rem 25rem 0;
  }
}

/* DOWNLOAD EXTENSION SECTION */

.download-section {
  text-align: center;
  padding-inline: 1.2rem;
}

.extension-download__text {
  max-width: 35rem;
  margin-block: 3rem;
  margin-inline: auto;
}

.extension-download__text h2 {
  margin-bottom: .5rem;
  font-weight: var(--fw-semibold);
}

.extension-card-wrapper {
  position: relative;
  max-width: 59.375rem;
  margin-inline: auto;
}

@media (min-width: 50em) {
  .extension-card-wrapper {
    display: flex;
  }
}

.extension-card {
  margin: 0 auto;
  max-width: 17.5rem;
  padding-block: 1.5rem;
  margin-block: 3rem;
  border-radius: .75rem;
  box-shadow: 0rem .75rem .5rem .2rem rgba(141, 141, 141, 0.1);
  overflow-x: hidden;
}

@media (min-width: 50em) {
  .extension-card {
    margin-block: 0;
  }
}

.extension-card p {
  font-size: var(--fs-300);
}

@media (min-width: 50em) {
  .extension-card:nth-child(2) {
    transform: translateY(50px);
  }
  
  .extension-card:nth-child(3) {
    transform: translateY(100px);
  }
}

.extension-card img {
  margin: 0 auto;
}

.extension-card__text-wrapper {
  padding-block: 2rem 1rem;
}

.extension-card__text {
  padding-bottom: 1.25rem;
}

.extension-card__text h3 {
  letter-spacing: 1px;
}

.extension-card__text-wrapper::after {
  content: url('/images/bg-dots.svg');
  display: inline-block;
}

.extension-button-wrapper {
  padding-inline: 2rem;
}

/* ACCORDION SECTION */
.accordion-section {
  padding-block: 6rem;
  max-width: 37.5rem;
}

@media (min-width: 50em) {
  .accordion-section {
    padding-block: 17.5rem 6rem;
  }
}

.accordion-section__text{
  text-align: center;
  max-width: 31.25rem;
  margin-bottom: 2.5rem;
  margin-inline: auto;
}

.accordion-section__text h2 {
  line-height: 1.2;
}

.accordion-section__text p {
  margin-block: 1.75rem 0;
}

.accordion-section__faq {
  padding-block: 1rem;
  border-bottom: 2px solid hsl(0, 0%, 91%);
}

@media (min-width: 50em) {
  .accordion-section__faq:first-child {
    border-top: 2px solid hsl(0, 0%, 91%);
  }
}

.accordion-section__faq button {
  display: flex;
  width: 100%;
  font-size: var(--fs-500);
}

.accordion-section__faq button:hover {
  color: var(--primary-clr-300);
}

.accordion-section__faq p {
  color: var(--black);
  line-height: 2;
  margin-block: 1.5rem;
}

.accordion-section__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.accordion-section .center {
  margin-top: 3rem;
}

/* CTA SECTION */

.cta-section {
  text-align: center;
  padding-block: 4rem;
}

.cta-section-wrapper {
  max-width: 30rem;
}
.cta-section__text h2 {
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);
  line-height: 1.1;
  padding-block: .75rem 0;
}

@media (min-width: 50em) {
  .cta-section__text h2 {
    padding-block: 2rem .9rem;
  }
}

.cta-section, 
.cta-section p, 
.cta-section .cta-section__button{
  color: var(--white);
}

.cta-section p{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: var(--fs-200);
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

@media (min-width: 50em) {
  .form {
    flex-direction: row;
  }}

.form input {
  border: 0;
  outline: 0;
  border-radius: .3rem;
  padding-block: .75em;
}

@media (min-width: 50em) {
  .form input[type="text"] {
    width: 100%;
    padding-block: .75rem;
  }
}

.form input[type="text"] {
  padding-left: 1.25rem;
  font-size: .937rem;
}

.form input[type="text"]::placeholder {
  opacity: .3;
}

.form .cta-section__button{
  background-color: var(--primary-clr-300);
  border: 2px solid transparent;
  margin-top: 1rem;
  cursor: pointer;
}

@media (min-width: 50em) {
  .form .cta-section__button {
    height: 100%;
    padding: .5em 1.2em;
    margin-top: 0;
    margin-left: 1rem;
  }
}

.form .cta-section__button:hover {
  background-color: var(--white);
  border-color: var(--primary-clr-300);
  color: var(--primary-clr-300);
}

/* FOOTER */

footer {
  padding-block: 2rem;
}

/* img .filter-white {
  filter: invert(100%) sepia(1%) saturate(5%) hue-rotate(23deg) brightness(103%) contrast(101%);
} */

.footer-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-menu__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 50em) {
  .footer-wrapper {
    justify-content: space-between;
  }

  .footer-menu__content > a {
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }

  .footer-wrapper,
  .footer-menu__content {
    flex-direction: row;
  }
}

.footer-list {
  text-align: center;
  text-transform: uppercase;
  padding-block: 1.25rem;
  font-size: .864rem;
}

@media (min-width: 50em) {
  .footer-list {
    display: flex;
    gap: clamp(1rem, 4vw, 2.75rem);
    padding-block: 0;
  }
}

.footer-list > li {
  margin-block: 1.75rem;
}

@media (min-width: 50em) {
  .footer-list > li {
    margin-block: 0rem;
  }
}

.footer-list a{
  color: hsl(216, 100%, 98%);
  letter-spacing: 2px;
}

.footer-list a:hover {
  color: var(--primary-clr-300);
}

.social-links{
  display: flex;
  align-items: center;
  gap: 2.75rem;
}

.social-links img:hover {
  filter: brightness(0) saturate(100%) invert(52%) sepia(43%) saturate(4016%) hue-rotate(326deg) brightness(98%) contrast(99%);
}

/* BUTTONS */

button{
  border: 2px solid transparent;
}

/* bookmark buttons */

.button-group{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 50em) {
  .button-group {
    justify-content: flex-start;
  }
}

.button-group button {
  padding: .5em;
  border-radius: .3rem;
  box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, .1);
}

@media (min-width: 50em) {
  .button-group button {
    padding: .75em 1.5em;
  }
}

button.chrome:hover {
  border-color: var(--primary-clr-400);
  background-color: var(--white);
  color: var(--primary-clr-400);
}

button.firefox {
  background-color: #f7f7f7;
}

button.firefox:hover {
  background-color: var(--white);
  border-color: var(--black);
}

/* tab buttons */

.tab-buttons{
  display: flex;
  flex-direction: column;
  margin-block: 3rem 4.5rem;
}

@media (min-width: 50em){
  .tab-buttons {
    flex-direction: row;
    border-bottom: 1px solid hsl(0, 0%, 91%);
    max-width: 45rem;
    margin-inline: auto;
  }
}

.tab-buttons button:first-child {
  border-top: 1px solid hsl(0, 0%, 91%);
}

.tab-buttons button {
  flex: 1;
  background: transparent;
  padding-block: 1rem;
  border-bottom: 1px solid hsl(0, 0%, 91%);
  position: relative;
  font-size: var(--fs-400);
}

@media (min-width: 50em) {
  .tab-buttons button {
    padding-block: 1rem 1.5rem;
  }

  .tab-buttons button,
  .tab-buttons button:first-child {
    border: none;
  }
}

.tab-buttons button span {
  position: relative;
  padding-block: 1rem;
}

.tab-buttons button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  height: 4px;
  width: 45%;
  background-color: var(--primary-clr-300);
}

@media (min-width: 50em) {
  .tab-buttons button.active::after {
    width: 100%;
    left: 0;
    transform: none;
    right: auto;
  }
}

.tab-buttons button:hover {
  color: var(--primary-clr-300);
}

/* more info buttons */

button.more-info{
  background-color: var(--primary-clr-400);
  border-radius: .3rem;
  padding: .75em 1.5em;
  box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, .1);
}

button.more-info:hover {
  background-color: var(--white);
  color: var(--primary-clr-400);
  border-color: var(--primary-clr-400);
}

/* extension buttons */

.extension-card button {
  width: 100%;
  padding-block: .7em;
  border-radius: .4rem;
  box-shadow: 0rem .25rem .25rem 0rem rgba(0, 0, 0, .1);
}

.extension-card button:hover {
  background-color: var(--white);
  border-color: var(--primary-clr-400);
  color: var(--primary-clr-400);
}

/* FAQ ACCORDION BUTTONS */

.accordion-section__faq h3 {
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

.accordion-section__faq button {
  background-color: var(--white);
}

/* ATTRIBUTION */

.attribution {
  font-size: 0.688rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* UTILITY CLASSES */

.container {
  width: min(85%, 75rem);
  margin: 0 auto;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.primary-clr-600 {
  background-color: var(--primary-clr-600);
  color: var(--white);
}

.primary-clr-400 {
  background-color: var(--primary-clr-400);
  color: var(--white);
}

.primary-clr-200 {
  background-color: var(--primary-clr-200);
}

.neutral-clr-200 {
  background-color: var(--neutral-clr-200);
}

.hidden {
  display: none;
}

.center{
  display: flex;
  justify-content: center;
}